mixin link
    link(rel="stylesheet", href='/stylesheets/style.css')
    link(href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet")
    link(rel="stylesheet", href="/bootstrap/tether-1.3.3/css/tether.min.css")
    link(rel="stylesheet", href="/bootstrap/css/bootstrap.min.css")
    link(rel="stylesheet", href="/font/css/font-awesome.min.css")
    link(rel="stylesheet", href="/stylesheets/menu.css")
    link(rel="stylesheet", href="/stylesheets/div.css")
    link(rel="stylesheet", href="/stylesheets/login.css")
mixin script
    script(src="/bootstrap/js/jquery.js")
    script(src="/bootstrap/tether-1.3.3/js/tether.min.js")
    script(src="/bootstrap/js/bootstrap.min.js")
    script(src="/javascripts/socket/socket.io.js")
